<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<h2>Create new student</h2>

<form>
    <div class="form-group">
        <label for="name">Name of student</label>
        <input id="name" type="text" class="form-control" placeholder="Name of student">
    </div>
    <div class="form-group">
        <label for="workshop">Workshop</label>
        <select class="form-control" id="workshop">
            <option>Workshop 1</option>
            <option>Workshop 22</option>
            <option>Workshop 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" placeholder="Email">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="osvc" id="osvc" value="OSVC" checked>
            Work as OSVC
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="osvc" id="hpp" value="HPP">
            Work as HPP
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
