<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<h2>Create new workshop</h2>

<form>
    <div class="form-group">
        <label for="name">Name of workshop</label>
        <input id="name" type="text" class="form-control" placeholder="Name of workshop">
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <textarea id="desc" type="text" class="form-control" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="date">Start date</label>
        <input id="date" type="date" class="form-control" placeholder="Start date">
    </div>
    <div class="form-group">
        <label for="number">Number of lessons</label>
        <input id="number" type="number" class="form-control" placeholder="Number of lessons">
    </div>
    <div class="form-group">
        <label for="language">Language</label>
        <input id="language" type="text" class="form-control" placeholder="Language of workshop to be learnt">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
